Candidates_Project/Candidates_Project/bin
Candidates_Project/Candidates_Project/obj
Candidates_Project/Candidates.Models/obj
Candidates_Project/Candidates.Models/bin
Candidates_Project/Candidates.Services/obj
Candidates_Project/Candidates.Services/bin
Candidates_Project/.vs
Candidates_Project/Candidates.Services.Interfaces/obj
Candidates_Project/Candidates.Services.Interfaces/bin
Candidates_Project/Candidates.Connections/bin
Candidates_Project/Candidates.Connections/obj
Candidates_Project/Candidates.Library/bin
Candidates_Project/Candidates.Library/obj
Candidates_Project/Candidates.Mappers/bin
Candidates_Project/Candidates.Mappers/obj
Candidates_Project/Candidates.Responses/bin
Candidates_Project/Candidates.Responses/obj
