Candidates_Project/Candidates_Project/bin
Candidates_Project/Candidates_Project/obj
Candidates_Project/Candidates.Models/obj
Candidates_Project/Candidates.Models/bin
Candidates_Project/Candidates.Services/obj
Candidates_Project/Candidates.Services/bin
Candidates_Project/.vs
Candidates_Project/Candidates.Services.Interfaces/obj
Candidates_Project/Candidates.Services.Interfaces/bin
